@tailwind base;
@tailwind components;
@tailwind utilities;

body, h6{
    font-family: "Work Sans"
}

p{
    font-family: "Solway", sans-serif
}

h1, h2, h3, h4, h5{
    font-family: "Corben", sans-serif;
}